*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif ;
    box-sizing: border-box;
}
.navbar{
height: 60px ;
display: flex;
background-color:#0F1111;
color: white;
justify-content: center;
align-items: center;
justify-content: space-evenly;
}
.navlogo{
    width: 110px;
    height: 50px;
    align-items: center;
}
.logo{
    background-image: url("amazon_png.webp");
    background-size: contain;
    background-repeat: no-repeat;
     background-position:center ;
    height: 50px;
     width: 100px;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.navaddress{
    height: 50px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addfirst{
    font-size: 0.85rem;
    color: #CCCCCC;
    margin-left: 20px;
}
.addsecond{
    font-size: 1rem;
    font-weight: 700;
    
}

.addlocation{
    display: flex;
    font-weight: 700;
}
.navsearch{
    display: flex;
    justify-content: center;
    align-items: center;
    width:620px;
    height:40px;
    border-radius: 5px;
    border: none;

}
.search-category{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f3f3f3;
    width: 100px;
    height:40px;
    border: none;

}
.search-input{
    width: 100%;
    text-align: center;
    font-size: 15px;
    height:40px;
    border: none;
}
.search-icon{
    border-top-right-radius:5px;
    border-bottom-right-radius: 5px;
    background-color: #ffd012f9;
    width:50px;
    height:40px;
     color:#272a31;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
}
.search-category:hover{
background-color:#f3f3f3f5;
}
.search-icon:hover{
    background-color:#ffd012e9 ;
    
}
.sign-in{
    font-size: 12px;
    color: #FFFFFF;
    height:50px;
    width:120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.sign-in span{
    margin-right: 26px;
}
.list{
    font-size: 14px;
    font-weight: 600;

}

    
.order{
    font-size: 12px;
    color: #FFFFFF;
    height:50px;
    width:120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.order span{
    margin-right: 17px;
}
.cart{
    height:45px;
    width: 41px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cart-icon{
    font-size: 25px;
    font-weight: 700;
}
.panel{
    height: 40px;
    background-color: #222f3d;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.all-panel{
    display: flex;
    justify-content: center;
   align-items: center;
   font-size: 20px;
   width: 58px;
}
.pan-op{
    font-size: 15px;
    height: 28px;
    width: 75;
    font-weight: 600;
    display: flex;
    justify-content: center;
   align-items: center;
}
.pan-op a{
    text-decoration: none;
    color: white;
}